
QMainWindow {
    background-color: #282a36;
    color: #f8f8f2;
}

QStackedWidget {
    background-color: #313342;
    color: #f8f8f2;
}

QStackedWidget[protocol="true"] {
    background-color: #282A36;
    color: #f8f8f2;
    border: 1px solid #313342;
    margin-top: 10px;
}

QWidget[dark="true"] {
    background: #282A36;
}

QTabWidget {
    background: #282a36;
}

.QTabWidget::pane {
    border:none
}

QComboBox {
    background-color: #44475a;
    color: #f8f8f2;
}

QAbstractItemView {
    background-color: #44475a;
    color: #f8f8f2;
}

QTableWidget {
    background-color: #282a36;
    color: #f8f8f2;
}

QTableWidget::item:selected {
    selection-background-color: #6272a4;
    color: #6272a4;
}



QTabBar[HcProtocolTab="true"]::tab {
    background: #313342;
    color: #f8f8f2;
    padding-top: 3px;
    padding-bottom: 3px;
}

QTabBar[HcProtocolTab="true"]::tab:selected {
    background: #44475A;
    color: #f8f8f2;
    border: 1px solid #6272A4;
}

QTabWidget[HcPageTab="true"]::tab-bar {
    alignment: center;
}

QTabBar[HcPageTab="true"]::tab {
    background: #44475A;
    color: #f8f8f2;
    min-width: 100px;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 4px;
    border-radius: 2px;
}

QTabBar[HcPageTab="true"]::tab:selected {
    background: #44475A;
    color: #f8f8f2;
    border: 1px solid #6272A4;
}

QTabBar[HcTab="true"]::tab {
    background: #282A36;
    color: #f8f8f2;
    margin-top: 3px;
    padding: 4px 10px 4px 10px;
    border-bottom-color: transparent;
}

QTabBar[HcTab="true"]::tab:selected {
    background: #44475A;
    color: #f8f8f2;
    border: 1px solid #6272A4;
    border-bottom-color: transparent;
}

QTabBar::close-button {
    image: url(:/icons/tab-close-button);
    subcontrol-position: right;
}

QTabBar::close-button:hover {
    background: #282a36;
}

QLabel {
    color: #f8f8f2;
}

QGroupBox {
    background: #282a36;
    color: #f8f8f2;
}

QLineEdit {
    border-radius: 2px;
    padding: 2px 6px 2px 6px;
    background-color: #44475A;
    color: #f8f8f2;
}

QLineEdit[HcLineEdit="true"] {
    border-radius: 0px;
    padding: 2px 6px 2px 0;
    border:  1px solid #6272a4;
    background-color: #44475A;
    color: #f8f8f2;
    border-left-color: transparent;
}

QLabel[HcLineEdit="true"] {
    border:  1px solid #6272a4;
    padding: 2px 6px 2px 6px;
    background-color: #282a36;
    font-weight: bold;
}

QDialog {
    background: #282a36;
    color: #f8f8f2;
}

QLabel {
    color: #f8f8f2;
}

QLabel[HcLabelDisplay="true"] {
    border-radius: 2px;
    border:  1px solid #6272a4;
    padding: 2px 6px 2px 6px;
    background-color: #282a36;
    font-weight: bold;
}

QLabel[listenerLabel="true"] {
    background-color: #282a36;
    font-weight: bold;
}

QTextEdit {
    background-color: #44475A;
    color: #f8f8f2;
}

QTextEdit[HcConsole="true"] {
    background-color: #282A36;
    color: #f8f8f2;
}

QMenu {
    background: #282a36;
    color: #f8f8f2;
    border: 1px solid #44475a;
    padding: 2px;
}

QMenu::item:selected {
    background: #313342;
    color: #f8f8f2;
}

QPushButton[objectName="SideHavoc"] {
    border: 0px;
    background-color: #282a36;
    color: #f8f8f2;
    margin-left: 6px;
    padding-top: 10px;
    padding-right: 2px;
    padding-bottom: 10px;
}

QPushButton[objectName^="SideButton"] {
    border: 0;
    background-color: #282a36;
    color: #f8f8f2;
    margin-left: 0;
}

QPushButton[HcButtonUsed="true"] {
    border: 0 solid #f8f8f2;
    border-left-width: 2px;
}

QPushButton[HcButtonUsed="false"] {
    border: 0 solid #282a36;
    border-left-width: 2px;
}

QPushButton[HcButton="true"] {
    background-color: #44475a;
    color: #f8f8f2;
    font-weight: bold;
    border: 1px solid #44475a;
    border-radius: 2px;
    padding: 4px 8px 4px 8px;
}

QPushButton:pressed[HcButton="true"] {
    border: 1px solid #bd93f9;
    background-color: #282A36;
    color: #f8f8f2;
}